[submodule "deps/umock-c"]
	path = deps/umock-c
	url = https://github.com/Azure/umock-c.git
[submodule "deps/azure-macro-utils-c"]
	path = deps/azure-macro-utils-c
	url = https://github.com/Azure/azure-macro-utils-c.git
